nav {
    position: fixed;
    z-index: 100;
}

.home {
    margin-top: 10%;
    display: flex;
}

.textHome {
    margin-left: 20%;
    padding-top: 2%;
    padding-bottom: 2%;
}

.textCard {
    padding-top: 2%;
    padding-bottom: 1%;
    margin-top: 5%;
}

.textCard p {
    text-align: center;
}

.about {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.about img {
    height: 200px;
}

.about h5 {
    font-size: 230%;
}

.better {
    display: flex;
    margin-top: 5%;
    
}

.citation {
    background-color: rgb(243, 243, 243);
    text-align: center;
    padding-top: 4%;
    padding-bottom: 4%;
    margin-top: 5%;
}

.citation h4 {
    font-size: 100%;
}

.little {
    display: flex;
    justify-content: center;
    padding-top: 1%;
}

.little img {
    height: 1%;
    width: 1%;
}

.little p {
    font-weight: bold;
}

.end {
    padding-top: 2%;
    padding-bottom: 2%;
}

.end p {
    color: white;
    text-align: center;
}